{%- set var_prefix=role_name.split('-') | join('_') -%}
---
# file: {{ role_name }}/tasks/install/apt.yml

# install package
- name: Install {{ role_name }} package via apt
  environment:
    DEBIAN_FRONTEND: noninteractive
  apt: >
    name={{ '{{' }} {{ var_prefix }}_package_name {{ '}}{%' }} if {{ var_prefix }}_package_install_version {{ '%}={{' }} {{ var_prefix }}_package_install_version {{ '}}{%' }} endif {{ '%}' }}
    state={{ '{%' }} if {{ var_prefix }}_package_install_latest {{ '%}' }}latest{{ '{%' }} else {{ '%}' }}present{{ '{%' }} endif {{ '%}' }}
  tags: packages