---
# file: {{ role_name }}/meta/main.yml

galaxy_info:
  author: Waldemar Zurowski
  description: TODO - add a description for {{ role_name }} role
  license: BSD
  min_ansible_version: 2.0
  platforms:
  - name: EL
    versions:
    - all
  - name: Ubuntu
    versions:
    - all
  - name: Debian
    versions:
    - all
  categories:
  - system
  
dependencies: []
