{%- set var_prefix=role_name.split('-') | join('_') -%}
---
# file: {{ role_name }}/tasks/configure/Ubuntu.yml

# configuration specific to Ubuntu distribution

- name: TODO - all configuration steps for this service for Ubuntu
  debug: msg="Please, configure {{ '{{' }} {{ var_prefix }}_service_name {{ '}}' }} service for Ubuntu!"
  notify: Restart {{ role_name }} service